<html>
 <head>

 <title>マイページ</title>

 </head>

 <body>

   <h1>マイページ</h1>
<a href="/logout">Logout</a><br><br>


<form method="get" action="@routes.Application.index()">
        <input type="submit" value="感謝カード入力">

        <input type="button" value="掲示板">

        <input type="button" value="管理者">

        <input type="button" value="代表事例">
<br>
<table border="2">

  <tr>

    <th rowspan="2">日付</th>

    <th colspan="2">感謝された人</th>

    <th rowspan="2">ヘルプ項目</th>

    <th rowspan="2">ヘルプ内容</th>

　　<th rowspan="2">感謝の言葉</th>

    <th colspan="2">感謝する人</th>

　　<th rowspan="2">全体を表示</th>

  </tr>

  <tr>

    <th>部署</th>

    <th>名前</th>

    <th>部署</th>

    <th>名前</th>

 </tr>

 <tr>


<td><input type="button" value="詳細"></td>
 </tr>




</table>

<p></p>

<input type="button" value="1">

<input type="button" value="2">

<input type="button" value="3">

</body>

</html>
